<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- STYLE -->
    <link rel="stylesheet" href="/styles/style.css">
    <!-- SCRIPTS -->
    <script src="/scripts/script.js" defer></script>
</head>
<body class="font-arial">
    <div id="nav" class="container">
        <section class="padded-left"><span>TEST</span></section>
    </div>
    <div id="content" class="container">
        <section></section>
    </div>
</body>
</html>