/* #region ----- ----- ROOT ----- ----- ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: goldenrod;
/*     display: flex;
    flex-direction: column; */
}
/* #endregion */

/* #region ----- ----- CLASSES ----- ----- ----- */
    /* #region ---ELEMENT VISIBILITY--- */
.invisible {
    display: none;
}
    /* #endregion */
    /* #region ---CONTAINER--- */
.container { background-color: brown;}
.container-flex { display: flex; }
.container-flex-row {
    display: flex;
    flex-direction: row;
}
.container-flex-column {
    display: flex;
    flex-direction: column;
}
.filler {
    padding-top: auto;
    padding-bottom: auto;
}
/* #endregion */
    /* #region ---STYLISH--- */
        /* #region -POSITIONING- */
.inline { display: inline;}
.block { display: block;}
.padded-left { margin-left: 5px; }
.padded-right { margin-right: 5px; }
.transition-time { transition-duration: 0.4s; }
.round-element {
    border-radius: 0.5em;
}
        /* #endregion */
        /* #region -TEXT- */
.font-arial { font-family: Arial, Helvetica, sans-serif; }
.bottom-text {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.bottom-text span {
    margin-top: auto;
}
        /* #endregion */
        /* #region -COLOR- */
.black-element {
    background-color: black;
    color: white;
}
.white-element {
    background-color: white;
    color: black;
}
.gray-element {
    background-color: gray;
    color: white;
}
        /* #endregion */
    /* #endregion */
    /* #region --- CHARACTER --- */
.container-character {
    background-color: cornflowerblue;
    margin: 1%;
    font-size: large;
    width: fit-content;
}
.character-semantics {
    text-align: right;
    min-width: 8.5em;
    border-left: solid 0.15em black;
    border-right: solid 0.15em black;
    padding: 0.25em;
}
.character-semantics:first-child {
    border-top: solid 0.15em black;
    padding-bottom: 0.25em;
}
.character-semantics:not(:first-child) {
    padding-top: 0.4em;
}
.character-semantics:last-child {
    border-bottom: solid 0.15em black;
    flex-grow: 1;
}
.character-stat-labels {
    text-align: left;
    min-width: 8.5em;
    padding: 0.25em;
}
.character-stat-labels:first-child {
    border-top: solid 0.15em black;
    border-right: solid 0.15em black;
}
.character-stat-labels:not(:first-child) {
    border-top: dashed 0.15em black;
    border-right: solid 0.15em black;
}
.character-stat-labels:last-child {
    border-bottom: solid 0.15em black;
    border-right: solid 0.15em black;
}
/* .character-stat-bars {

} */
    /* #endregion */
/* #endregion */

/* #region ----- ----- IDS ----- ----- ----- */
    /* #region ---NAV--- */
#nav {
    background-color: chocolate;
    height: 50px;
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: auto;
}
#nav section {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    height: 80%;
    width: auto;
    padding: 0.5em;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
        /* #region -ocstuff- */
#nav #ocstuff span:after {
    content: "\25B6";
    position: absolute;
    opacity: 0;
    transition-duration: 0.4s;
}
#nav #ocstuff:hover {
    color: red;
    padding-right: 1.25em;
}
#nav #ocstuff:hover span:after {
    color: red;
    opacity: 1;
}
        /* #endregion */
        /* #region -wtnc- */
#nav #wtnc:hover {
    color: #C030A0;
    box-shadow: 0px 0px 20px 10px hotpink;
    text-shadow: 0px 0px 2px blue;
}
        /* #endregion */
        /* #region -warm- */
#nav #warm:hover {
    color: goldenrod;
}
.sliding-background {
    background: url() repeat-x repeat-y;

}
                /* #endregion */
#nav span {
    align-self: center;
}
/* #endregion */
    /* #region--- CHARACTER --- */
    /* #endregion */
/* #endregion */